.nav {
    width: 100%;
    height: 40px;
    background-color: #525E65;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    position: fixed;
}

.menu {
    display: none;
}

.menu-btn {
    display: none;
}