@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
    color: white;
}

nav {
    background-color: #525E65;
    display: flex;
}

nav ul li {
    flex: auto;
}