@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

#root {
  max-width: 1360px;
  margin: 0 auto;
  font-family: poppins;
  text-align: center;
}

.arrow_float {
  animation: float 3.5s ease-in-out infinite;
}

/* Para las funciones de "leer más" */
.more {
  cursor: pointer;
  background-color: #ccf;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
}

.complete {
  display: none;
}

input.showmore {
  display: none;
}

input.showmore ~ label.more span.menos {
  display: none;
}

input.showmore:checked + .complete {
  display: block;
}

input.showmore:checked ~ label.more span.mas {
  display: none;
}

input.showmore:checked ~ label.more span.menos {
  display: inline;
}
/* Hasta aquí llegan las funciones de "leer más" */

/* Para cuando logre integrar esta clase al darkMode
/* .dark {
  background-image: linear-gradient(
    to right,
    #000318,
    #030416,
    #050513,
    #070611,
    #08070e,
    #08070e,
    #09070d,
    #09070d,
    #0a060f,
    #0c0410,
    #0e0311,
    #100112
  );
} */

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
